# Main libraries for data manipulation and machine learning
numpy
pandas
scikit_learn
scikit-surprise
joblib
gdown

# Web application framework
streamlit

# Development and build tools
pip
setuptools
wheel
